{% extends 'videos/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid bg-dark min-vh-100">
    <div class="row justify-content-center">
        {% if object_list %}
            {% for object in object_list %}
            <div class="card col-md-3 col-sm-12 mr-md-2 mt-5 p-3 border-0 bg-transparent">
                <a href="{% url 'video-detail' object.pk %}"><img src="/media/{{ object.thumbnail }}" width="256" height="144"></a>
                <div class="card-body bg-transparent">
                    <a class="link-text" href="{% url 'video-detail' object.pk %}"><h5 class="text-center">{{ object.title }}</h5></a>
                    <p class="text-muted text-center m-0">{{ object.uploader }}</p>
                    <p class="text-muted text-center">{{ object.date_posted | date:"M d, Y" }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12 pt-5 text-center">
                <h1 class="text-white">There are no videos yet.</h1>
            </div>
        {% endif %}
    </div>
</div>

{% else %}
	<div class="container-fluid bg-pink-blue min-vh-100">
		<div class="row">	
			<div class="text-wrapper col-lg-6 col-sm-12 text-white order-lg-1 wrap1">
				<h1>Happy birthday, ra!</h1>
				<div>
					<p style="text-align: justify;"> Selamat bertambah umur yang ke-20, raa (udah kepala dua ni ye). Semoga panjang umur, sehat selalu, bisa membahagiakan orang tua, 
						semoga di umur yang sekarang bisa lebih dewasa, jangan lupa ibadah, semangat lagi belajarnya, gapai cita-cita, pokoknya semua yang terbaik untukmu dan semoga 
						apa yang disemogakan di umur ini (dan kedepannya juga pastinya) lekas tersemogakan, juga semoga apapun yang terjadi kamu bahagia selalu. Aamiin. 
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 text-center order-lg-2">
				<img src="media/pictures/pict2.gif" class="gif">
			</div>
		</div>
	</div>
	<div class="container-fluid bg-blue-gray vh-100">
		<div class="row">
			<div class="text-wrapper col-lg-6 col-sm-12 text-white order-lg-2 wrap2">
					<h1>Tak lupa juga,</h1>
					<h1 class="pt-0">selamat tanggal 15!</h1>
					<div class="col-md-12">
						<p style="text-align: justify;"> Bersamaan juga dengan tanggal 15-an kita yang ke-8 (?) ini. Terhitung 245 hari kita lewati bersama dan masih banyak
							hari-hari dengan cerita berbeda yang akan kita untai satu-persatu kedepannya setiap hari. Cerita bakal banyak suka dan duka kayak biasanya. Ga semua 
							hubungan itu mulus melulu. Selama sama-sama saling mau satu sama lain pasti mau sejauh apapun kita, akhirnya akan baik-baik aja kayak biasa.
							Jadi jangan capek-capek ya sama aku yang sering nyebelin.
						</p>
					</div>
			</div>
			<div class="col-lg-6 col-sm-12 text-center order-lg-1">
				<img src="media/pictures/pict1.png" style="max-width: 45vw;" class="calendar">
			</div>
		</div>
	</div>
	<div class="container-fluid bg-pink-grad min-vh-100">
		<div class="text-wrapper text-white text-center">
			<h1>Our story</h1>
			<div class="row row-cols-1 row-cols-md-3 g-4 px-3 text-dark">
				<div class="col">
					<div class="card bg-transparent border-0 card-el-1">
					<img src="media/pictures/pict3.svg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">First Date</h5>
						<p class="card-text">Date pertama kita!!! dan baru pertama kali ketemu setelah menanti sekian lama.
							Aku ngerasa canggung waktu itu karena ga pernah jalan sama cwk sekalinya jalan langsung yang cakep hehe. Pertama, kita fotbar 
							dulu di rektorat (ga afdol klo ga foto). Terus kita ke ragunan jalan-jalan sama naik sepeda yang berdua--yang bikin kaki aku pegel karena pas tanjakan berat. Kesampean juga liat kapibara di ragunan
							terus aku dimirip-miripin sama kamu sampe sekarang. Dari ragunan kita cari mam ke blok-m waktu itu mau ke resto inceran tapi ternyata rame banget jadi akhirnya kita makan hokben aja karena 
							buru-buru mau ke foto booth. Duduk-duduk sebentar sampe maghrib di Taman Literasi terus pulang ke Depok. Sebelum ke kos kita ke bilik meng (kucing). Tapi, waktu itu aku udah kecapean jadi ga lama sama aku harus pulang 
							juga ke Bandung besoknya karena masih ada urusan.
						</p>
					</div>
					</div>
				</div>
				<div class="col">
					<div class="card bg-transparent border-0 card-el-2">
					<img src="media/pictures/pict4.svg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Trampoline Date</h5>
						<p class="card-text">Date kedua kita!!! Yang ini beda sama sebelumnya karena kita impulsif dan ga rencanaian sebelumnya mau kemana. Kali ini kita juga public transport--KRL sama TJ. 
							Pertama kali kita naik beam berdua juga (wow). Singkat cerita uda sampe tempatnya dan langsung main. Ada banyak wahana disitu mulai dari basket, ninja warior, flying fox mini, climbing, 
							perang guling, sama tabrakan (gatau namanya apa). Kita makan mekdi gajauh dari sana lagi promo lumayan murah dapet PaNas Spicy 3 50kan (klo ga salah). Terus kita liat sunset di Pantai Ancol
							dan duduk-duduk pinggir laut lumayan lama buat ngobrol sana-sini dan ngabisin waktu berdua, malem itu juga aku udah harus pulang ke Bandung (hiks). 
						</p>
					</div> 
					</div>
				</div>
				<div class="col">
					<div class="card bg-transparent border-0 card-el-3">
					<img src="media/pictures/pict5.svg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Haunted House Date</h5>
						<p class="card-text">Date ketiga kita main ke rumah hantunya Pandora. Awalnya jelas aku gamau karena takut-takut tapi akhirnya mau juga. Kita coupelan kali ini pake biru-biru
							dan ternyata samaan sama 2 pasangan temen kamu yang lain. Sebelum ke rumah hantu kita karaokean dulu--aku mau dari dulu :). Kita karaoke di Limelight dan waktu itu cuma adanya 
							sejam aja. Cuma aku yang nyanyi, kamu cuma nyimak aja ... Aku banyak nyanyiin lagu indo 2000an sama dikit lagu Jepang. Ga kerasa nyanyi sejam ternyata cepet banget terus aku nyesel 
							karena nyanyi lagu Jepang cuma sedikit. Balik dari karaoke kita ke rumah hantu. Kita poto-poto sama hantu di sana dulu sebelum masuk. Rumah hantunya kan harusnya berempat atau lebih 
							tapi kita masuknya cuma berdua. Aku malu banget karena aku banyak teriak sama takutan pas di dalem :) paling lucu pas ambil kunci dari staff trus aku gedor-gedor pintunya yang ga kebuka
							pas kebuka langsung lari. Eh, mas-mas hantunya bilang buat balikin kunci T___T terus di akhir diwawancara deh dan ternyata singkat banget di dalem cuma 20 menitan. Ada photobooth 
							gratis juga disana trus kita foto deh dan pergi ke CIBIS Park. Disana duduk-duduk dan ngobrol sampe maghrib. Terus kita cari mam ricis karena mau beli yang ayam satu ekor itu. 
							Abis makan kita pulang deh. Besoknya kita pergi mam ke Sushi Go Margo karena promo hari Senin. Terus aku pertama kali main ke rumah kamu dan ketemu mapa. Di rumah juga ga terlalu lama terus aku pulang
							ke Bandung lagi besoknya.
						</p>
					</div>
					</div>
				</div>
			</div>
			<div class="text-center my-0">
				<img src="media/pictures/pict7.png" style="max-width: 90vw;">
			</div>
		</div>
	</div>
	<div class="container-fluid bg-blue-grad min-vh-100">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 text-wrapper text-white text-center order-lg-2">
				<h1>What Others Says</h1>
				<p >Video dari orang-orang yang (mungkin) kamu kenal</p>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 order-lg-1">
				<video class="plyr" controls>
					<source src="" type="video/mp4" />
				</video>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-pink-grad-v2 min-vh-100 d-flex align-items-center justify-content-center">
		<div class="text-wrapper text-white text-center">
			<h1 class="mb-4">Send Birthday Wishes!</h1>
			<p class="mb-4"> Kamu bisa isi form berikut yang hasilnya nanti bisa tiara baca! </p>
			<form method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<div class="mb-3">
					<label for="name" class="form-label">Your Name:</label>
					<input class="form-control" type="text" id="name" name="name" required>
				</div>
				<div class="mb-3">
					<label for="message" class="form-label">Message:</label>
					<textarea class="form-control" id="message" name="message" required></textarea>
				</div>
				<button class="btn btn-info btn-block rounded-pill mb-5 text-white" type="submit">Send Message</button>
			</form>
		</div>
	</div>
	<div class="container-fluid bg-pink-blue min-vh-100">
		<div class="row">	
			<div class="text-wrapper col-lg-6 col-sm-12 text-white order-lg-1 wrap1">
				<h1>Akhir Kata</h1>
				<div>
					<p style="text-align: justify;">Selagi membuat ini, aku jadi banyak teringat banyak kenangan manis waktu kita dekat. Semoga kita
						bisa bertahan dengan jarak ini yang nantinya bisa jadi selalu dekat. Untuk pembaca lainnya, terima kasih udah menyimak cerita kita. Terima kasih yang telah berpartisipasi dalam video ini.
						Aku minta maaf bila masih banyak kekurangan terutama untuk website ini (toh, apa yag diharapkan dari desain anak teknik 
						dan yang cuma andelin AI buat programmnya ini?). Terakhir, coba login dulu ya, sayang ada secret content buat kamu hihi :D (ada di pojok kanan atas navbar)
						Bubum sayang banget sama mawmaw.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 order-lg-2">
				<img src="media/pictures/maung-banyak.svg" class="maung-banyak">
			</div>
		</div>
	</div>
{% endif %}
{% endblock content %}